.modal {
  display: flex;
  height: 93vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.32);
}
.modalcontent {
  width: 1200px;
  height: 800px;
  border: 3px solid #FFB800;
  border-radius: 10px;
  background-color: #F9F9F9;
  overflow-y: scroll;
}
.data {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.before {
  margin-left: 10px;

}
.after {
  margin-right: 10px;

}
.btn {
  width: 200px;
  margin-top: 20px;
  height: 50px;
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
  border: 3px solid #FFB800;
  border-radius: 10px;
  color: var(--main-color);
  display: flex;
  background-color: transparent;
  justify-content: center;
  transition: .3s;
  margin-left: 5px;
  align-items: center;
  &:hover {
    background-color: #efefef;
  }
}
@media all and (max-width : 1225px) {
  .modalcontent {
    width: 800px;
  }
}
@media all and (max-width : 840px) {
  .btn {
    width: 150px;
    height: 50px;
    font-size: 21px;
  }
  .modalcontent {
    max-width: 90vw;
  }

}