.menuItemDiv {
  background-color: #F9F9F9;
  border: 3px solid #FFB800;
  border-radius: 10px;
  width: 40vw;
  min-height: 150px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 32px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}
.description {
  font-weight: 265;
  margin-left: 7px;
  margin-top: 7px;
  word-break: break-all;
  border: 0;
  background-color: transparent;
  resize: none;
  font-size: 15px;
}
.price {
  color: var(--main-color);
  font-size: 38px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 7px;
  border: 0;
  background-color: transparent;
  margin-bottom: 7px;
  width: 90%;
}
.div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.btn {
  height: 50px;
  width: 180px;
  font-size: 24px;
  border: 3px solid #FFB800;
  border-radius: 10px;
  color: var(--main-color);
  display: flex;
  background-color: transparent;
  justify-content: center;
  transition: .3s;
  margin-right: 7px;
  align-items: center;
  &:hover {
    background-color: #efefef;
  }
}
@media all and (max-width : 1200px) {
  .menuItemDiv {
    width: 45vw;
  }
}
@media all and (max-width : 880px) {
  .menuItemDiv {
    width: 85vw;
  }
}